<ion-header>
  <ion-toolbar color="primary" class="ion-padding">
    <ion-title text-center>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="icon" src="assets/icon/favicon.png" alt="" padding>
<ion-item>
  <ion-label position="floating" > Correo electrónico</ion-label>
  <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
</ion-item>

<br>
<ion-button (click)="onSubmitRecoveryPassword()" expand="block">Recuperar contraseña</ion-button>
<br>
</ion-content>