<ion-card class="ion-activatable">
  <div *ngIf="details">
    <ngx-qrcode
            [qrc-element-type]="'url'"
            [qrc-value] = "order.id"
            qrc-class = "aclass"
            qrc-errorCorrectionLevel = "H">
    </ngx-qrcode>
  </div>

  <ion-card-header>
    <ion-card-subtitle>{{order.timeCreated | date: 'dd MMMM yyyy H:mm'}}</ion-card-subtitle>
    <div class="inline">
      <ion-card-title class="ion-align-items-start">{{order.store.storeName}}</ion-card-title>
      <h2>{{order.totalAmount | currency: 'MXN' }}</h2>
    </div>

  </ion-card-header>
  <ion-card-content *ngIf="details">
    <ion-list>
      <ion-item *ngFor="let item of order.products">
        <ion-avatar slot="start">
          <img src="{{item.product.image}}" alt="{{item.product.description}}">
        </ion-avatar>
        ({{item.quantity}}) {{item.product.name}}
      </ion-item>
    </ion-list>
    <ion-item lines="none" class="ion-justify-content-center ion-align-items-center">
      <ion-icon *ngIf="order.status==='approved'" name="checkmark-circle-outline"></ion-icon>
    </ion-item>
  </ion-card-content>
  <ion-ripple-effect></ion-ripple-effect>
</ion-card>
