<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="food">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="shopping-cart">
      <ion-badge *ngIf="shopService.totalProducts > 0" g color="danger">{{shopService.totalProducts}}</ion-badge>
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="orders">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>Mis Pedidos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
