<ion-header translucent>
  <ion-toolbar>
    <ion-title>Alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text color="#AAAAAA" style="font-size: 2em; margin-left: 20px;text-align: center">
        <h1>Recomendaciones</h1>
    </ion-text>
    <ion-searchbar animated></ion-searchbar>

    <!-- Featured Items -->
    <app-food-item></app-food-item>
    <app-food-item></app-food-item>

    <!-- All Items TODO Limit to 20 -->
    <ion-list>
        <div *ngFor="let item of products">
            <ion-item *ngIf="item.available">
                <ion-avatar slot="start">
                    <img src="{{item.image}}" alt="{{item.description}}">
                </ion-avatar>
                <ion-label>
                    <h2>{{item.name}}</h2>
                    <h3>{{item.description}}</h3>
                    <p>{{item.rating | number:'1.2-2' }} | {{item.storeId}}</p> <!-- TODO replace store ID with Store -->
                </ion-label>
                {{item.price | currency:'MXN'}}
            </ion-item>
        </div>

    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="cart"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
