<ion-header>
  <ion-toolbar>
    <ion-title>Alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button (click)="Onlogout()" >desconectarse</ion-button>

<ion-header *ngIf="!hasVerifiedEmail" padding class="verify-email">
  <div>
    Please send a verification email and verify your account
  </div>
  <div>
    <ion-button color="secondary" (click)="sendVerificationEmail()">Send Verification Email</ion-button>
    <ion-button color="secondary" (click)="reload()">Refesh</ion-button>
  </div>
  <div *ngIf="sentTimestamp">
    Verification email sent at {{sentTimestamp | date:'medium'}}
  </div>
</ion-header>

<ion-content>
    <ion-text color="#AAAAAA" style="font-size: 2em; margin-left: 20px;text-align: center">
        <h1>Recomendaciones</h1>
    </ion-text>
    <ion-searchbar animated></ion-searchbar>

    <app-food-item></app-food-item>
    <app-food-item></app-food-item>
    <app-food-item></app-food-item>

</ion-content>
